extends layout

block content
  head
    meta(charset="UTF-8")
    title #{ title }
  body
    meta(charset='UTF-8')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false')
    style(type='text/css').
      <!--
      body {
      padding-top: 50px;
      padding-bottom: 50px;
      background-color: #dee0dc;
      }
      h2 {
      margin-top: 0px;
      }
      .container {
      max-width: 680px;
      }
      .starter-template {
      background-color: #fff;
      padding: 30px;
      }
      .basic-info {
      padding-bottom: 20px;
      }
      .list li {
      list-style: none;
      float: left;
      }
      .info-list {
      left: -40px;
      }
      .tag li:first-child:before {
      content:" ";
      }
      .tag li:before {
      content:"/ ";
      }
      .score {
      float: left;
      font-size: 185%;
      }
      .stats {
      float: left;
      position: relative;
      background: url("https://d1nc9n01ephlj6.cloudfront.net/assets/space/bg_star-36856857387ac3f53832261ced4203ae.png") no-repeat;
      width: 129px;
      height: 25px;
      top: 5px;
      left: 5px;
      }
      .stats span {
      text-indent: -9999px;
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      height: 25px;
      background: url("https://d1nc9n01ephlj6.cloudfront.net/assets/space/star-ec8ac13f62cf8eb200117f4648f80730.png") repeat-x;
      }
      .date {
      position: relative;
      top: 15px;
      }
      .jumbotron {
      margin-bottom: 10px;
      }
      -->
  body
    .container
      .starter-template
        // タイトル
        h2 スペースマーケット
        // スライドショー
        p 10163件のレンタルスペースから 目的に合ったスペースをかんたん予約